<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./styles/styles">
	<title>Daniel's Portfolio</title>
</head>
<body>
    <header>
		<nav>
			<ul>
				<li><a href="./templates/work.html">Work</a></li>
				<li><a href="./templates/about.html">About</a></li>
				<li><a href="./templates/contact.html">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section id="home">
			<p>I'm a [insert profession] with a passion for [insert interests]. Here, you'll find a collection of my work and information about me. Take a look around and feel free to get in touch!</p>
		</section>
		
		
	</main>
</body>
</html>
